<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                This Is How I Feel Inside
            </h1><p class="lead">A stunning new book by Bill Cosby</p>
            <script src="https://js.stripe.com/v3/"></script>

                <form action="/charge" method="post">
                    <script 
                        src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="{{stripePublishableKey}}"
                        data-amount="2500"
                        data-name="Cosby Ebook"
                        data-description="book by Zach White"
                        data-image="img/marketplace.jpeg"
                        data-locale="auto"
                    ></script>
                    <script>
                        // Hide default stripe button
                        document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                    </script>
                    <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase</button>
                </form>
        </div>

        <div class="col-md-6" mt-8 pt-5"">
            
            
            <img src="/img/marketplace.jpeg" class="img-fluid">
        </div>
    </div>


</section>