
    <div style="margin-top: 50px" class="row">
        <div class="two-thirds column">
            <h4 style="font-weight: bold">
                The Scarlet Letter: Chapter Quizzes
            </h4>
            
            <ul>
            <li><class="lead"><b>3 unique quizzes</b> available for each chapter: <span style="color: green">easy</span>, <span style="color: orange">medium</span>, and <span style="color: red">hard</span>.</li>
            <li>Perfect for testing your students' reading comprehension and kick-starting class discussions.</li>
            <li>Emailed to you as a PDF after purchase.</li>
            </ul>
            <script src="https://js.stripe.com/v3/"></script>

                <form action="/charge" method="post">
                    <script 
                        src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="{{stripePublishableKey}}"
                        data-amount="399"
                        data-name="Scarlet Letter: Chapter Quizzes"
                        data-description="3 Quizzes Per Chapter"
                        data-image="img/marketplace.png"
                        data-locale="auto"
                    ></script>
                    <script>
                        // Hide default stripe button
                        document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                    </script>
                    <button class="button-primary" type="submit">Purchase for $3.99</button><br>
                    <button type="submit">Download Sample</button>
                </form>
        </div>

        <div class="one-third column">            
            <img src="/img/marketplace.png" style="display: block; max-width: 250px; border: solid black 2px; margin: 0 auto">
        </div>
    </div>

