<section class="py-5">
<h1 class="display-3">Thanks bitch!</h1><br>
<p class="lead">Your order will be shipped within 12 hours!</p>
<p class>This book isn't even real- thanks for the moola ya friggin idiot!</p>
<a href="/" class="btn btn-dark btn-lg">Go Back Home</a>

</section>